@import '../node_modules/@wikimedia/codex-design-tokens/theme-wikimedia-ui.less';

body {
    font-family: @font-family-base;
    line-height: @line-height-xx-small;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

a {
    color: @color-progressive;
    text-decoration: none;
    cursor: pointer;
}
a:hover {
    color: @color-progressive--hover;
    text-decoration: underline;
}
a:active {
    color: @color-progressive--active;
}
a:focus {
    color: @color-progressive--focus;
}

h1 {
    margin: 0;

    @media screen and ( max-width: @max-width-breakpoint-tablet ) {
        font-size: 1.2em;
    }
}

#outer {
    margin: 0;
    overflow: hidden;
    display: flex;
    flex-direction: row;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;

    @media screen and ( max-width: @max-width-breakpoint-tablet ) {
        flex-direction: column;
    }
}

#map {
    flex: 9;
}

#main-menu {
    list-style-type: none;
    margin: 0 0 1em 0;
    padding: 0;
    display: flex;
    justify-content: center;

    li {
        flex: 1;
        margin: 3px;
    }
}

#titlebox {
    min-width: 20em;
    flex: 1;
    border-left: @border-base;
    border-top: 0;
    background-color: @background-color-base;
    display: flex;
    flex-direction: column;
    justify-content: space-between;

    .titlebox-main,
    .titlebox-footer {
        padding: 0 0.7em 0.7em 0.7em;
    }

    .titlebox-panel {
        flex: 2;
        overflow: scroll;
    }

    .titlebox-footer {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        font-size: smaller;
    }

    @media screen and ( max-width: @max-width-breakpoint-tablet ) {
        min-width: 0;
        border-left: 0;
        border-top: @border-base;
        max-height: 45%;
    }

    .panel-image {
        margin: auto;
        display: block;
        text-align: center;

        img {
            max-width: 100%;
        }
    }

    #map-legend {
        font-size: smaller;
        margin-bottom: 12px;

        ul {
            list-style-type: none;
        }

        p,
        ul {
            margin: 0;
            padding: 0;
        }

        li {
            display: flex;
            align-items: center;
        }

        span.label {
            margin-left: 12px;
        }

        span:not(.label) {
            width: 30px;
            height: 6px;
            border: 4px solid black;
            border-radius: 12px;
            margin-right: 3px;
            opacity: 0.8;
        }

        .not-on-osm .has-photo,
        .has-photo span:first-child {
            border-color: #2DC800;
        }

        .not-on-osm .needs-photo,
        .needs-photo span:first-child {
            border-color: #FF4848;
        }

        .not-on-osm .has-photo,
        .not-on-osm .needs-photo {
            background-color: #555;
            width: 10px;
        }

        .current-selection span:first-child {
            border-color: #000066;
        }
    }

    #loading {
        display: none;
        margin: 1em auto;
        text-align: center;
        img {
            display: block;
            margin: auto;
        }
    }

    #loading.active {
        display: block;
    }

    #please-zoom {
        display: none;
    }

}

#panel .item-details {
    border-top: 1px solid #ccc;
    margin-bottom: 1em;
    padding: 0.7em;

    .item-close {
        border: 1px solid #ccc;
        padding: 2px;
        float: right;
        width: 20px;
        text-align: center;
        color: #2c2c2c;
        margin: 2px 0 2px 4px;
    }
}

#titlebox.loading {
    opacity: 0.7;
}

.warning-message {
    border: 2px solid #e74848;
    background-color: #ffefcc;
    padding: 0.6em;
    display: block;
    margin: 0.4em 0;
}
