<!DOCTYPE html>
<html lang="{{ lang() }}" dir="{% if is_rtl() %}rtl{% else %}ltr{% endif %}">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>{{ msg('app_title') }}</title>
    {{ encore_entry_link_tags('app') }}
</head>
<body>
    <div id="outer">
        <div id="map"></div>
        <div id="titlebox">
            <div class="titlebox-main">
                <h1>{{ msg('app_title') }}</h1>
                <ul id="main-menu">
                    <li id="show-legend"><a>{{msg('show-legend')}}</a></li>
                    <li id="hide-legend"><a>{{msg('hide-legend')}}</a></li>
                    <li id="refresh"><a title="{{msg('refresh-title')}}">{{msg('refresh')}}</a></li>
                </ul>
                <div id="map-legend">
                    <ul>
                        <li class="has-photo"><span></span><span class="label">{{ msg('has-photo') }}</span></li>
                        <li class="needs-photo"><span></span><span class="label">{{ msg('needs-photo') }}</span></li>
                        <li class="not-on-osm">
                            <span class="has-photo"></span>
                            <span class="needs-photo"></span>
                            <span class="label">{{ msg('not-on-osm') }}</span>
                        </li>
                        <li class="current-selection"><span></span><span class="label">{{ msg('current-selection') }}</span></li>
                    </ul>
                </div>
                <p id="please-zoom">Please zoom in to query.</p>
                <p id="loading">
                    <img src="https://upload.wikimedia.org/wikipedia/commons/2/2a/Loading_Key.gif" />
                    {{ msg( 'loading' ) }}
                </p>
            </div>
            <div class="titlebox-panel" id="panel"></div>
            <div class="titlebox-footer">
                <form action="{{path('home')}}" method="get">
                    <select name="uselang">
                        {% for code,lang in all_langs() %}
                            <option value="{{code}}" {% if code == lang() %}selected{% endif %}>
                                {% if lang %}
                                    {{lang}}
                                {% else %}
                                    ({{code}})
                                {% endif %}
                            </option>
                        {% endfor %}
                    </select>
                    <input type="submit" value="{{msg('change-lang')}}">
                </form>
                <a href="https://phabricator.wikimedia.org/tag/tool-wdlocator/">{{ msg('issue-tracker') }}</a>
                <a href="https://gitlab.wikimedia.org/toolforge-repos/wdlocator">{{ msg('source-code') }}</a>
            </div>
        </div>
    </div>
    <script>
    const App = {
        bboxSize: {{ bbox_size }},
        i18n: {
            searchPlaceholder: "{{ msg('search-placeholder') }}",
            searchErrorMessage: "{{ msg('search-error-message') }}",
            searchIconLabel: "{{ msg('search-icon-label') }}",
            locateTitle: "{{ msg('locate-title') }}",
            locateMetersUnit: "{{ msg('locate-meters-unit') }}",
            locateFeetUnit: "{{ msg('locate-feet-unit') }}",
            locatePopup: "{{ msg('locate-popup', ['{distance}', '{unit}']) }}",
            locateOutsideMapBounds: "{{ msg('locate-outside-map-bounds') }}"
        }
    };
    </script>
    {{ encore_entry_script_tags('app') }}
</body>
