<div class="item-details">
    <button class="item-close" role="button" title="{{msg('close-panel')}}">X</button>
    <strong>{{ info.title }}</strong>
    <a class="panel-image" target="_blank" href="{{ info.imageinfo.0.descriptionurl }}">
        <img src="{{ info.imageinfo.0.thumburl }}" />
    </a>

    {% if info.imageinfo.0.extmetadata.Categories.value is defined %}
        {% for cat in info.imageinfo.0.extmetadata.Categories.value|split('|') %}
            <a href="https://commons.wikimedia.org/wiki/Category:{{cat|e('url')}}" target="_blank">{{cat}}</a>
            {% if not loop.last %} | {% endif %}
        {% endfor %}
    {% endif %}

</div>
