<div class="item-details item-{{ data.id }} ">
    <button class="item-close" role="button" title="{{msg('close-panel')}}">X</button>
    {{ data.id }}
    {% set needs_i18n = false %}
    <a href="https://www.wikidata.org/wiki/{{ data.id }}" target="_blank">{#
        #}<strong>
            {% if attribute( data.labels, lang() ) is defined %}
                {{ attribute( data.labels, lang() ).value }}
            {% elseif (data.labels|length) > 0 %}
                {# If no localized label, just grab the first and show a message. #}
                {{ ( data.labels|first ).value }}
                {% set needs_i18n = true %}
            {% else %}
                {{ msg('no-label', [lang()]) }}
                {% set needs_i18n = true %}
            {% endif %}
        </strong>{#
    #}</a>

    {% if attribute( data.descriptions, lang() ) is defined %}
        {{ attribute( data.descriptions, lang() ).value }}
    {% elseif (data.descriptions|length) > 0 %}
        {# If no localized description, just grab the first and show a message. #}
        {{ ( data.descriptions|first ).value }}
        {% set needs_i18n = true %}
    {% endif %}

    {% if commons_category %}
        <a href="https://commons.wikimedia.org/wiki/{{ commons_category.title }}" target="_blank">{{ commons_category.title }}</a>
        ({#
            #}{%if commons_category.categoryinfo.subcats %}{{ commons_category.categoryinfo.subcats }} C {% endif -%}
            {{- commons_category.categoryinfo.files }} F{#
        #}).
    {% else %}
        <em>{{ msg('commons-cat-not-found') }}</em>
    {% endif %}

    {% if needs_i18n %}
        <div class="warning-message">{{ msg('label-i18n-needed', [lang()]) }}</div>
    {% endif %}

    {% if data.image %}
        <a class="panel-image" href="https://commons.wikimedia.org/wiki/File:{{data.image|escape('url')}}" target="_blank">
            <img src="{{ data.image_url }}" />
        </a>
    {% endif %}

</div>
